.singlePost {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.singlePostWrapper {
  margin-top: 10rem;
  max-width: 600px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 10rem;
}

.singlePostImg {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}

.singlePostTitle {
  font-size: 24px;
  margin-bottom: 10px;
  position: relative;
}

.singlePostEdit {
  position: absolute;
  top: 0;
  right: 0;
}

.singlePostIcon {
  margin-left: 10px;
  cursor: pointer;
}

.singlePostIcon:hover{
  color: red;
}

.singlePostInfo {
  font-size: 14px;
  color: #555;
  margin-bottom: 15px;
}

.singlePostAuthor {
  margin-left: 5px;
}

.singlePostDesc {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
}


@media (max-width: 768px) {
  .singlePostWrapper {
    max-width: 100%;
  }

  .singlePostTitle {
    font-size: 20px;
  }

  .singlePostDesc {
    font-size: 14px;
  }
}


.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0; 
  text-align: center;
}

.loading-message {
  font-size: 1.5rem;
  margin-top: 10px;
  color: #555;
}

.loading-icon {
  font-size: 2rem;
  margin-top: 10px;
}


@media (max-width: 768px) {
  .loading-container {
    padding: 20px; 
  }

  .loading-message,
  .loading-icon {
    font-size: 1.5rem; 
  }
}
