.sidebar {
  flex: 3;
  height: fit-content;
  margin: 20px;
  padding-bottom: 30px;
  background-color: #fdfbfb;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebarItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebarTitle {
  margin: 10px;
  padding: 5px;
  width: 80%;
  border-top: solid 1px #a7a4a4;
  border-bottom: solid 1px #a7a4a4;
  text-align: center;
  font-family: "Varela Round", sans-serif;
  font-size: 12px;
  line-height: 19px;
  color: #222222;
  font-weight: 600;
}

.sidebarItem > img {
  margin-top: 15px;
  width: 100%; /* Adjusted to take the full width of the container */
  height: auto; /* Allow the image to adjust its height */
  max-width: 250px; /* Set a maximum width for larger screens */
}

.sidebarItem > p {
  padding: 15px; /* Adjusted padding for smaller screens */
}

.sidebarList {
  list-style-type: none;
  margin-bottom: 20px; /* Adjusted margin for smaller screens */
}

.sidebarListItem {
  display: inline-block;
  width: 100%; /* Adjusted width for smaller screens */
  margin-top: 15px;
  cursor: pointer;
}

.sidebarSocial {
  margin-top: 15px;
  width: 100%; /* Adjusted width for smaller screens */
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebarIcon {
  font-size: 16px;
  margin-left: 10px;
}

/* Responsive Styles */
@media (min-width: 768px) {
  .sidebarItem > img {
    width: 250px;
  }
}
