.write {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

.writeImg {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.writeForm {
  display: flex;
  flex-direction: column;
}

.writeFormGroup {
  position: relative;
  margin-bottom: 20px;
}

.writeIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: #333;
  cursor: pointer;
}

#fileInput {
  display: none;
}

.writeInput,
.writeText {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.writeSubmit {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


@media screen and (max-width: 768px) {
  .write {
    padding: 10px;
  }
}
