.write {
  padding-top: 50px;
}

.writeImg {
  margin-left: 0; /* Adjusted for smaller screens */
  width: 100%; /* Full width for smaller screens */
  height: auto; /* Allow the image to adjust its height */
  border-radius: 10px;
  object-fit: cover;
}

.writeForm {
  position: relative;
}

.writeFormGroup {
  margin-left: 0; /* Adjusted for smaller screens */
  display: flex;
  flex-direction: column; /* Adjusted for smaller screens */
  align-items: center;
}

.writeIcon {
  width: 25px;
  height: 25px;
  font-size: 20px;
  border: 1px solid;
  border-radius: 50%;
  color: rgb(129, 125, 125);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 10px; /* Adjusted margin for smaller screens */
}

.writeInput {
  font-size: 20px; /* Adjusted font size for smaller screens */
  border: none;
  padding: 15px; /* Adjusted padding for smaller screens */
  width: 100%; /* Full width for smaller screens */
}

.writeInput::placeholder {
  color: rgb(189, 185, 185);
  font-weight: 400;
}

.writeInput:focus {
  outline-style: none;
}

.writeText {
  width: 100%; /* Full width for smaller screens */
  height: 100vh;
  font-family: inherit;
  font-size: 16px; /* Adjusted font size for smaller screens */
}

.writeSubmit {
  position: absolute;
  top: 20px;
  right: 20px; /* Adjusted right position for smaller screens */
  color: white;
  background-color: teal;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .writeImg {
    margin-left: 0; /* Adjusted for smaller screens */
  }

  .writeIcon {
    margin-bottom: 0; /* Reset margin for smaller screens */
  }

  .writeText {
    font-size: 14px; /* Adjusted font size for smaller screens */
  }

  .writeSubmit {
    right: 10px; /* Adjusted right position for smaller screens */
  }
}
